
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 159, 239);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}
.error {
  box-shadow: 0 0 10px color(red);
  border: 1px dotted red;
}
.fixed-overlay {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 159, 239);
  
  display: none;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: rgb(255, 159, 239);
  max-width: 500px;
  width: 50%;
  padding: 20px;
  border-radius: 8px;
  line-height: 1.5;
}

textarea {
  width: 90%;
  height: 150px;
  resize: none;
}

h1 {
  font-size: 50px;
  text-align: center
}
h2 {
  font-size:20px;
}
